<div class="container p-2">
  <h2 class="text-center mt-4 mb-2">Processo de Locação de Veículo</h2>
  <div class="row row-cols-2">
    <div class="col border border-2 p-2">
      <h4 class="text-light p-2 bg-dark text-center">
        Processado pelo Funcionário
      </h4>
      <div class="">
        <label>Código#: </label>
        <input
          class="form-control"
          type="text"
          name="codigoFuncionario"
          ng-model="carros.codigoFuncionario"
          placeholder="Digite seu código"
        />
      </div>

      <div class="col">
        <label>Nome#: </label>
        <input
          class="form-control"
          type="text"
          name="codigoFuncionario"
          ng-model="carros.codigoFuncionario"
          placeholder="Digite seu código"
        />
      </div>

      <div class="mt-2">
        <h4 class="text-light p-2 bg-dark text-center">
          Dados do Locatário do Veículo
        </h4>
        <div class="col">
          <label>CNH</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite a CNH"
          />
        </div>

        <div class="col">
          <label>Nome</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite seu Nome do Locatário"
          />
        </div>

        <div class="col">
          <label>Endereço</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite o Endereço"
          />
        </div>

        <div class="col">
          <label>Cidade</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite a Cidade"
          />
        </div>

        <div class="row row-cols-2">
          <div>
            <label>Estado</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite o Estado"
            />
          </div>
          <div>
            <label>CEP</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digiteo CEP"
            />
          </div>
        </div>

        <div class="col"></div>
      </div>

      <div class="mt-2">
        <h4 class="text-light p-2 bg-dark text-center">Veículo Selecionado</h4>

        <div class="row row-cols-2">
          <div>
            <label>Número</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite Número"
            />
          </div>
          <div>
            <label>Estado Geral</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Estado de Conservação"
            />
          </div>
          <div>
            <label>Fabricante</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite a Marca"
            />
          </div>
          <div>
            <label>Modelo</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite o Modelo"
            />
          </div>
          <div>
            <label>Ano</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite o Ano"
            />
          </div>

          <div>
            <label>Nível Tanque</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Digite Nível do Tanque"
            />
          </div>

          <div>
            <label>Km Inicial</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Km Inicial"
            />
          </div>

          <div>
            <label>Km Final</label>
            <input
              class="form-control"
              type="text"
              name="codigoFuncionario"
              ng-model="carros.codigoFuncionario"
              placeholder="Km Final"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col border border-2 p-2">
      <h4 class="text-light p-2 bg-dark text-center">Dados da Locação</h4>

      <div class="row row-cols-2">
        <div class="">
          <label>Data Início</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite a Data Inicial"
          />
        </div>
        <div>
          <label>Data Final</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite a Data Final"
          />
        </div>
        <div class="">
          <label>Dias</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite os Dias"
          />
        </div>

        <div class="">
          <label>Status do Pedido</label>
          <input
            class="form-control"
            type="text"
            name="codigoFuncionario"
            ng-model="carros.codigoFuncionario"
            placeholder="Digite o status do Pedido"
          />
        </div>
      </div>

      <div class="mt-2">
        <h4 class="text-light p-2 bg-dark text-center">Pedido - Avaliação</h4>
        <div class="row row-cols-2">
          <div>
            <label>Taxa Aplicada</label>
            <input
              class="form-control"
              type="text"
              placeholder="Calcular Taxa"
            />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">Taxas</button>
          </div>

          <div>
            <label>Sub-Total</label>
            <input class="form-control" type="text" placeholder="Sub-Total" />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">
              Calcular
            </button>
          </div>

          <div>
            <label>Taxa Imposto</label>
            <input class="form-control" type="text" placeholder="Imposto" />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">Salvar</button>
          </div>

          <div>
            <label>Valor Imposto</label>
            <input
              class="form-control"
              type="text"
              placeholder="Digite o valor"
            />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">
              Imprimir
            </button>
          </div>

          <div>
            <label>Valor Total</label>
            <input class="form-control" type="text" placeholder="Total" />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">
              Visuzalizar
            </button>
          </div>
          <div>
            <label>Recibo</label>
            <input
              class="form-control"
              type="text"
              placeholder="Digite o Número do Recibo"
            />
          </div>
          <div>
            <button class="w-100 btn btn-primary btn-block mt-4">Abrir</button>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <h4 class="text-light p-2 bg-dark text-center">Fechamento</h4>

        <div
          class="row row-cols-2 mt-5 p-4 d-flex text-center align-items-center justify-content-center"
        >
          <div>
            <button class="btn btn-primary btn-block">
              Novo Pedido Locação/Resetar
            </button>
          </div>
          <div class="">
            <button class="w-100 btn btn-primary btn-block">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
